:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #5e5e5e;
  --timelineTranslateXValue: 10vh;
}

body,
html,
h1 {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0px;
  height: calc(var(--vh, 1vh) * 90);
  width: calc(var(--vw, 1vw) * 100);
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
    float: right;

  img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
    float: left;

  img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

#iconImage {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 3vh;
  top: calc(var(--vh, 1vh) * 3);
  bottom: 80vh;
  bottom: calc(var(--vw, 1vw) * 80);

  img {
    object-fit: contain;
  }
}

img {
  max-width: 100vw;
  max-height: 100vh;
  height: auto;
  object-fit: contain;
}

body {
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.section {
  height: 100vh;
}

#homepage {
  background-color: grey;
}

.timeline {
  opacity: 0;
  transform: translate(0, var(--timelineTranslateXValue));
  transition: all 1.0s;
}

.timeline.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.yellow {
  background-color: lightyellow;
}

#biography {
  background-color: lightcoral;

  img {
    object-fit: contain;
    width: auto;
    height: auto;
  }
}

.blue {
  background-color: lightblue;
}

#spirit_tablet {
  background-color: lightgrey;
}


content {
  /*margin-top: 30px;*/
  /*height: 3000px;*/
  margin-top: auto;
  overflow: auto;
}

nav {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 1vw;
  right: 50vw;
  /*transform: translate(-50%, -50%);*/
  display: flex;
}

/*lang button style*/
langList {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 70vw;
  right: 1vw;
  /*transform: translate(-50%, -50%);*/
  display: flex;
  justify-content: flex-end;
  /* Align buttons to the right */
}

button {
  background-color: transparent;
  border: transparent;

  a {
    position: relative;
    display: block;
    text-transform: uppercase;
    /*margin: 10px 0;*/
    margin: 0.5em 0;
    /*padding: 10px 20px;*/
    padding: 0.5em 1em;
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 0.9vw;
    font-weight: 600;
    transition: .5s;
    object-fit: contain;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid #262626;
      border-bottom: 2px solid #262626;
      transform: scaleY(2);
      opacity: 0;
      transition: .3s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #262626;
      transform: scale(0);
      opacity: 0;
      transition: .3s;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &:before {
        transform: scaleY(1);
        opacity: 1;
      }

      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

/*end lang button style*/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: calc(var(--vh, 1vh) * 80);
    width: calc(var(--vw, 1vw) * 100);
  }
  .section.timeline.yellow .right,
  .section.timeline.yellow .left {
    display: flex;
    flex-direction: column;
  }

  .section.timeline.yellow .right p,
  .section.timeline.yellow .left p {
    order: -1;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  header {
    height: calc(var(--vh, 1vh) * 80);
    width: calc(var(--vw, 1vw) * 100);
  }
  .section.timeline.yellow .right,
  .section.timeline.yellow .left {
    display: flex;
    flex-direction: column;
  }

  .section.timeline.yellow .right p,
  .section.timeline.yellow .left p {
    order: -1;
  }
}